<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>Ok Suporte</title>
</head>
<body>
  <header>
    <div>
      <a href="/home"><img id="logo-left" src="/images/logo_oksuporte.png" alt="logo_oksuporte"></a>
    </div>
    <div class="page-title">
      <h3><%= pageDetails.title %></h3>
      <p>LOGO DA EMPRESA</p>
    </div>  
    <div class="container-logged">
      <button class="btn-user-info" onclick="userDropdownMenu()"><%= user.name %></br><%= user.company %></button>
      <img class="btn-user-info" src="https://img.icons8.com/color/48/000000/settings--v1.png" alt="menu_config" onclick="userDropdownMenu()">
      <div id="user-dropdown" class="user-dropdown-content">
        <a href="/config">Configurações</a>
        <a href="/users">Gerenciar Usuários</a>
        <a href="/help">Ajuda</a>
        <a href="/logout">Sair</a>
      </div>
    </div> 
  </header> 
    
  <% if (pageDetails.home) { %>
    <%- include('partials/home'); -%>    
  <% } %>

  <% if (pageDetails.usersPage) { %>
    <%- include('partials/users'); -%>    
  <% } %>

  <% if (pageDetails.ticketsPage) { %>
    <%- include('partials/tickets'); -%>    
  <% } %>

  <% if (pageDetails.orders) { %>
    <%- include('partials/orders'); -%>    
  <% } %>

  <% if (pageDetails.config) { %>
    <%- include('partials/config'); -%>    
  <% } %>

  <!--footer><p>© OkSuporte. • Desenvolvido por TX Sistemas • Todos os direitos reservados.</p></footer-->
</body>

<script src="js/script.js"></script>

</html>